<h1>Lista Cytatów</h1>

<table class='table'>
  <thead>
    <th>Cytat</th>
    <th>Źródło</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @fortunes.each do |fortune| %>
  <tr>
    <td><%= fortune.quotation %></td>
    <td><%= fortune.source %></td>
    <td><%= link_to 'Pokaż', fortune, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edytuj', edit_fortune_path(fortune), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Usuń', fortune, confirm: 'Are you sure?', method: :delete,:class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj Cytat', new_fortune_path, :class => 'btn btn-success' %>
